<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:elasticsearch="http://www.pilato.fr/schema/elasticsearch"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd 
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/jdbc
		http://www.springframework.org/schema/jdbc/spring-jdbc-4.1.xsd 	    
	    http://www.pilato.fr/schema/elasticsearch http://www.pilato.fr/schema/elasticsearch/elasticsearch-0.3.xsd
		">


    <jdbc:embedded-database id="dataSource" type="HSQL">
		<jdbc:script location="classpath:schema.sql"/>
   		<jdbc:script location="classpath:test-data.sql"/>
    </jdbc:embedded-database>
    

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mappingResources" >
            <list>
				<value>com/yaps/petstore/model/Category.hbm.xml</value>
				<value>com/yaps/petstore/model/Product.hbm.xml</value>				
				<value>com/yaps/petstore/model/Item.hbm.xml</value>		
				<value>com/yaps/petstore/model/Customer.hbm.xml</value>						
                <value>com/yaps/petstore/model/Address.hbm.xml</value>
				<value>com/yaps/petstore/model/OrderLine.hbm.xml</value>                
				<value>com/yaps/petstore/model/Order.hbm.xml</value>
				<value>com/yaps/petstore/model/Version.hbm.xml</value>				
            </list>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    

    <bean id="abstractDaoHibernate" class="com.yaps.petstore.dao.hibernate.AbstractGenericDaoHibernate" abstract="true">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

</beans>
